page{
	background-color: #F2F2F2;
	height: 100%;
	width: 100%;
}

.peyment{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20rpx 26rpx 20rpx 26rpx;
}

.peyment_details,.peyment_msg{
	width: 100%;
	background-color: #fff;
	padding: 0px 14rpx 40rpx 14rpx;
	border-radius: 8rpx;
	box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.15);
	position: relative;
}

.peyment_details_title,.peyment_msg_title{
	display: flex;
	align-items: center;
	padding: 20rpx 0px 14rpx 0px;
	border-bottom: 1rpx solid #E6E6E6;
}

.peyment_details_title_left,.peyment_msg_title_left{
	background-color: #FF6C00;
	width: 7rpx;
	height: 34rpx;
	border-radius: 7rpx;
	margin-right: 15rpx;
}
.peyment_details_titlemsg,.peyment_msg_titleMsg{
	color: #232323;
	font-size: 32rxp;
}

.peyment_details_list,.peyment_msg_list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 22rpx;
	border-bottom: 1rpx solid #E6E6E6;
}

.connect_img{
	position: absolute;
	bottom: -58rpx;
	right: 44rpx;
	height: 90rpx;
	width: 24rpx;
}

.peyment_msg{
	margin-top: 35rpx;
	z-index: -1;
}

.allprice{
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 44rpx 57rpx 44rpx 42rpx ;
}

.allprice_left{
	color: #000000;
	font-size: 36rpx;
}

.allprice_right{
	color: #FF0000;
	font-size: 26rpx;
}

.allprice_right text{
	font-size: 32rpx;
}

.pey_btn{
	margin: 0px 42rpx;
	background-color: #FF6C00;
	width: 668rpx;
	height: 75rpx;
	color: #fff;
	font-size: 28rpx;
	text-align: center;
	border-radius: 75rpx;
	line-height: 75rpx;
	margin-bottom: 40rpx;
}