.search {
	width: 80%;
}

.top {
	display: flex;
	background-color: #fff;
}

.top .screen {
	padding-top: 10rpx;
	height: 81rpx;
	color: #414141;
	line-height: 81rpx;
}

.calimImg {
	width: 338rpx;
	height: 430rpx;
	background-color: #FFFFFF;
	padding-bottom: 11rpx;
	margin-left: 26rpx;
	margin-top: 10rpx;
	margin-bottom: 20rpx;
}

.introducText {
	color: #676767;
	height: 60rpx;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 18rpx;
	padding: 0 10rpx;
}
.cartImg{
	float: right;
	margin-right: 11rpx;
	margin-bottom: 11rpx;
}
.calimPrice{
	color: #FF8031;
	margin-right: 10rpx;
}
.priceCalim{
	display: inline-block;
	margin-left: 10rpx;
}
.manyCalim{
	display: flex;
	flex-wrap:wrap;
	justify-content: flex-start;
}