page{
	height: 100%;
	width: 100%;
}

.transactionRecord{
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
}

.transactionRecord_title{
	height: 80rpx;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #333;
	font-size: 26rpx;
	background-color: #fff;
	text-align: center;
}

.transactionRecord_title_active{
	color: #06C474;
	font-size: 28rpx;
}

.transactionRecord_title_active::after{
	content: '';
	display: block;
	height: 4rpx;
	width: 98rpx;
	background-color: #06C474;
	position: relative;
	bottom: -12rpx;
	left: 50%; transform: translateX(-50%);
}

.payDetail_list {
	display: flex;
	justify-content: space-between;
	padding: 10px 26rpx;
	border-bottom: 1px solid #E8E8E8;
	background-color: #fff;
}

.payDetail_list_right{
	text-align: right;
	}

.payDetail_list_left_money,.payDetail_list_right_ucceed{
	font-size: 26rpx;
	color: #6D6D6D;
	margin-bottom: 5px;
}

.payDetail_list_left_type,.payDetail_list_right_time{
	font-size: 18rpx;
	color: #D8D8D8;
}

