page{
	height: 100%;
	width: 100%;
}

.serviceCharge{
	width: 100%;
	height: 100%;
	padding-top: 30rpx;
	border-top: 1rpx solid #CCCCCC;
}

.serviceCharge_mainBox{
	width: 657rpx;
	height: 370rpx;
	margin: 0px auto;
	border-top: 1rpx solid #000000;
	border-left: 1rpx solid #000000;
	text-align: center;
}

.serviceCharge_main_title{
	color: #000000;
	font-size: 28rpx;
	line-height: 60rpx;
	height: 59rpx;
	width: 655rpx;
	border-right: 1rpx solid #000000;
	border-bottom: 1rpx solid #000000;
}

.main_list{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main_children{
	width: 219rpx;
	height: 60rpx;
	line-height: 60rpx;
	border-right:  1rpx solid #000000;
	border-bottom:  1rpx solid #000000;
	font-size: 20rpx;
}

.serviceCharge_notice{
	color: #666666;
	font-size: 20rpx;
	text-align: center;
	margin-top: 20rpx;
}

.close_btn{
	width: 90rpx;
	height: 90rpx;
	position: fixed;
	bottom: 107rpx;
	left: 50%;
	transform: translateX(-50%);
}
