.topBackground{
	height: 440rpx;
	background-size: 100%,440rpx;
}
.van-icon__image{
	width: 57rpx !important;
	height: 57rpx !important;
	position: relative;
	bottom: 10rpx;
}
.van-cell--large .van-cell__title{
	padding-left: 50rpx;
	color: #727373;
}
.headPortrait{
	width: 100%;
	height: 440rpx;
	position: relative;
}
.headPortrait .userinfo{
	display: flex;
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	border-radius: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}
.headPortrait .userinfo image{
	margin-top: 20rpx;
	width: 136rpx;
	height: 136rpx;
}
.userName{
	margin-top: 31rpx;
	margin-bottom: 15rpx;
}
.uId{
	border: 1rpx solid #FFFFFF;
	width: 199rpx;
	height: 43rpx;
	font-size: 22rpx;
	text-align: center;
	border-radius: 20rpx;
	line-height: 43rpx;
}
.userMess{
	margin-top: 20rpx;
	background-color: #FFFFFF;
	height: 406rpx;
	padding-top: 10rpx;
	box-sizing: border-box;
}
.recommend{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.cartImg{
	float: right;
	margin-right: 11rpx;
	margin-bottom: 11rpx;
}
.calimPrice{
	color: #FF8031;
	margin-right: 10rpx;
}
.priceCalim{
	display: inline-block;
	margin-left: 10rpx;
}
.manyCalim{
	display: flex;
	flex-wrap:wrap;
	justify-content: flex-start;
}
.introducText {
	color: #676767;
	height: 60rpx;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 20rpx;
	padding: 0 10rpx;
}
.calimImg {
	width: 338rpx;
	height: 430rpx;
	background-color: #FFFFFF;
	padding-bottom: 11rpx;
	margin-left: 26rpx;
	margin-top: 10rpx;
	margin-bottom: 20rpx;
}