page{
	height: 100%;
	width: 100%;
}

.property{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.property_heard{
	position: relative;
}

.property_heardMain{
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
}

.property_heardMain_title{
	display: flex;
	align-items: center;
}

.property_heardMain_titleLeft{
	width: 40rpx;
	text-align: right;
	color: #fff;
	font-size: 44rpx;
}

.property_heardMain_titleMain{
	flex: 1;
	text-align: center;
	color: #fff;
	font-size: 36rpx;
}

.property_heardMain_titleRight{
	width: 44rpx;
}


.property_heardMain_price{
	position: absolute;
	top: 204rpx;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 36rpx;
}

.property_heardMain_price text{
	font-size: 54rpx;
}

.property_heardMain_foot{
	position: absolute;
	bottom: 0;left: 0;
	width: 590rpx;
	height: 106rpx;
	padding: 0px 80rpx;
	display: flex;
	justify-content: space-between;
	align-items: center
}

.property_heardMain_footLeft,.property_heardMain_footRight{
	text-align: center;
	line-height: 40rpx;
	font-size: 26rpx;
	color: #333333;
}

.asset_revamp_box{
	position: fixed;
	right:26rpx;
	top: 130rpx;
	width: 48rpx;
	height: 48rpx;
	background-color: #fff;
	border-radius: 50%;
	padding : 10rpx
}

/* main */
.property_main{
	flex: 1;
	width: 100%;
	position: relative;
}

.goatsListTitle_bac{
	width: 742rpx;
	height: 70rpx;
	position: absolute;
	top: 0;left: 4rpx;
}

.goatsList_bac{
	width: 705rpx;
	height: 576rpx;
	position: absolute;
	top: 38rpx;
	left: 24rpx;	
}

.property_mainTitle{
	position: absolute;
	width: 100%;
	top: 76rpx;
	display: flex;
	justify-content: center;
	align-items: center;
}

.property_mainTitle_content{
	color: #fff;
	font-size: 48rpx;
	font-weight: bold;
	margin: 0px 29rpx;
}

.property_mainTitle_bigCircle{
	width: 16rpx;
	height: 16rpx;
	background-color: #fff;
	border-radius: 50%;
	
}

.property_mainTitle_smallCircle{
	width: 10rpx;
	height: 10rpx;
	background-color: #fff;
	border-radius: 50%;
}

.property_mainList{
	width: 650rpx;
	height: 399rpx;
	padding: 4rpx 28rpx 0px 28rpx;
	position: absolute;
	top: 170rpx;
	left: 23rpx;
	margin: 30rpx 0px;
}

.property_mainList_title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000;
	font-size: 20rpx;
}

.property_mainList_box{
	width: 100%;
	padding: 0px 8rpx;
}

.property_mainList_list{
	border-bottom: 1rpx solid #e6e6e6;
	padding: 18rpx 0px ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000;
	font-size: 18rpx;
	text-align: center;
}

.property_foot{
	width: 100%;
	height: 100rpx;
	border-top: 1rpx solid #CFCFCF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.property_price{
	color: #FF6C00;
	font-size: 24rpx;
	margin-left: 26rpx;
}

.property_price text{
	font-size: 32rpx;
}

.property_affirm{
	width: 220rpx;
	height: 80rpx;
	background-color: #FF6C00;
	font-size: 32rpx;
	color: #fff;
	line-height: 80rpx;
	text-align: center;
	border-radius: 6rpx;
	margin-right: 26rpx;
}
